<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head.ejs") %>
</head>

<body>
  <%- include("./partials/nav.ejs") %>
    <h2>Foydalanuvchini tahrirlash</h2>
    <form action="/edit/<%= user.id %>?_method=PUT" method="post" id="post-form">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required value="<%= user.username %>"> <br>

      <label for="name">Name</label>
      <input type="text" id="name" name="name" required value="<%= user.name %>"> <br>

      <label for="email">Email</label>
      <input type="email" id="email" name="email" required value="<%= user.email %>"> <br>

      <label for="phone">Phone</label>
      <input type="tel" id="phone" name="phone" required value="<%= user.phone %>"> <br>

      <button type="submit">Saqlash</button>

    </form>
</body>

</html>