<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
  <%- include("./partials/nav.ejs") %>

    <h2><%=user.name %></h2>
    <p> User Name: <%=user.name %> </p>
    <p> Email: <%=user.email %> </p>
    <p> Phone: <%=user.phone %> </p>
    <p> Website: <%=user.website %> </p>
    <p>Adress: <%= user?.address?.city %> </p>
    
    <a href="/edit/<%=user.id %>">Tahrirlash</a>
    <button data-id="<%=user.id %>" id="delUser">Uchirish</button>
    <script>
      const delButton = document.createElement("delUser")
      delButton.addEventListener("click", (e) => {
        const id = e.target?.dataset?.id || null;
        if (id != null)
        {
          fetch(`/user/${id}`, {
            method: "DELETE",
          }).then(() => {
            console.log("User deleted successfully");
            setTimeout(() => {
              window.location.href = "/users";
            }, 200);

          });
        }
    });
    </script>
  </body>
</html>
